#!/bin/bash
#PBS -q batch
#PBS -l nodes=atomtronics.ucmerced.edu:ppn=1
#PBS -N FD_TT_CT
#PBS -j oe
#PBS -V
#PBS -d /home/mmetcalf/Codes/Geometric_Dynamics/Codes/
cd $PBS_O_WORKDIR
echo "------------------------------------------------------------------------"
echo "Job started on" `date`
echo "------------------------------------------------------------------------"
/home/mmetcalf/Codes/Geometric_Dynamics/Codes/FullDiagonal_TunableT_CT
echo "------------------------------------------------------------------------"
echo "Job ended on" `date`
echo "------------------------------------------------------------------------"
exit 0
